---
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/500.css";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
  title: string;
  description: string;
  lang?: string;
}

const lang = getLangFromUrl(Astro.url);
const url = Astro.url.origin;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="description" content={description} />

    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: hsl(199 47.449999999999996% 4%);
    --foreground: hsl(199 7.3% 97.5%);
    --muted: hsl(199 36.5% 15%);
    --muted-foreground: hsl(199 7.3% 55%);
    --popover: hsl(199 50.4% 6.5%);
    --popover-foreground: hsl(199 7.3% 97.5%);
    --card: hsl(199 50.4% 6.5%);
    --card-foreground: hsl(199 7.3% 97.5%);
    --border: hsl(199 36.5% 15%);
    --input: hsl(199 36.5% 15%);
    --primary: hsl(199 73% 50%);
    --primary-foreground: hsl(199 7.3% 5%);
    --secondary: hsl(199 36.5% 15%);
    --secondary-foreground: hsl(199 7.3% 97.5%);
    --accent: hsl(199 36.5% 15%);
    --accent-foreground: hsl(199 7.3% 97.5%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(199 7.3% 97.5%);
    --ring: hsl(199 73% 50%);
    --radius: 0.75rem;
  }

  html {
    font-family: "Geist Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overscroll-behavior: none;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
</style>
